.body {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.board {
    border: 1px solid black;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3,1fr);
    gap: 5px;
    height: 400px;
    width: 400px;
}


/* .cell divs will be added from js */

.board > .cell {
    background-color: #78BEC5;
}

.win-screen {
    position: fixed;
    top: 1px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.308);
    display: flex;
    align-items: center;
    justify-content: center;
}